html, body, body > div, .container {
    height: 100%;
}
body {
    background-color: #eee;
    &, & > div {
        height: 100%;
    }
    .container {
        background-color: white;
        padding-bottom: 30px;
        height: 100%;
        position: relative;
        .logo-container {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 100px;
            img {
                width: 60px;
                // width: 100%;
            }
        }
    }
}

.upload {
    .btn-file {
        position: relative;
        overflow: hidden;
        margin-right: 10px;
        input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    }
    #input {
        // display: inline-block;
    }
    .error-message {
        min-height: 2em;
        color: red;
    }

    .img-container {
        text-align: center;
    }
    img {
        width: 60%;
    }
}

.editor {
    .summary {
        background-color: #ddd;
        padding: 15px;
        .headers {
            font-weight: bold;
        }
        .lap :first-child {
            font-weight: bold;
        }
    }
    .laps {
        overflow-y: scroll;
        .lap {
            .table-header {
                font-weight: bold;
                & :first-child {
                    padding-right: 20px;
                }
            }
            .track-point:hover {
                cursor: pointer;
                background-color: #f4e9cb;
            }
        }
    }

    .laps, #map {
        width: 100%;
        height: 400px;
    }

}
